body {
  text-align: center;
  background: #fff0f5;
  font-family: sans-serif;
}

#game {
  width: 400px;
  height: 200px;
  background: #ffe4e1;
  margin: auto;
  position: relative;
}

#player {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 40px;
}
